* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d9d9d9;
  font-family: "Inter", sans-serif;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #ff4500;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-width: 100px;
  transition: filter 0.3s;
}
.button:hover{
  filter: saturate(50%); 
}
.chamado-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  margin: 5rem auto;
  width: 793px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
.chamado-form h1{
  color: white;
  text-align: center;
  width: 100%;
}
.dados-cliente {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
}
.cliente-info {
  display: flex;
  width: 48%;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
}
.cliente-info input {
  display: flex;
  border: none;
  background: none;
  border-bottom: 4px solid #ff4500;
  padding: 0;
  outline: none;
  width: 200px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}
.cliente-info input:enabled {
  color: white;
  text-align: center;
}
label,
input {
  min-width: 100px;
  font-weight: 100;
  font-size: 20px;
}
.dados-chamado {
  margin-top: 0;
  width: 100%;
  color: white;
  margin-left: 3rem;
  display: flex;
  gap: 50px;
}
.dados-chamado textarea {
  resize: none;
  background-color: black;
  border: 2px solid #ff4500;
  border-radius: 5px;
  color: white;
  min-width: 400px;
  min-height: 200px;
}
.dados-chamado textarea:focus {
  outline: none;
  border-color: #ff4500;
}
.enviar{
  margin-left: auto;
  margin-right: 15px;
}
.enviar button{
  background-color: #ff4500;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  min-height: 35px;
  transition: filter 0.3s;
}

.enviar:hover {
  filter: saturate(70%); 
}
footer p {
  text-align: center;
  margin-top: 92px;
  color: black;
  font-size: 12px;
  font-weight: normal;
}
